language: php
php:
  - 5.5
  - 5.4

before_script:
  - phpenv config-rm xdebug.ini
  - sudo apt-get update -qq
  - sudo apt-get install libv8-dev g++ cpp -y
  - printf "\n" | pecl install v8js-0.1.3
  - travis_retry composer self-update
  - travis_retry composer install --prefer-source --no-interaction --dev
